@page "/register"

<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/dogs/image2.jpeg&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Создайте аккаунт</h4>
                        </div>
                        <form class="user" autocomplete="off">
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input @bind-value="@newAccount.firstName" class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Имя"></div>
                                <div class="col-sm-6"><input @bind-value="@newAccount.lastName" class="form-control form-control-user" type="text" id="exampleLastName" placeholder="Фамилия" name="last_name"></div>
                            </div>
                            <div class="mb-3"><input @bind-value="@newAccount.email" class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Почта" ></div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input @bind-value="@newAccount.password" class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Пароль" ></div>
                                <div class="col-sm-6"><input @bind-value="@confirmPassword" class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Повтор пароля" ></div>
                            </div>
                        </form>
                        <button class="btn btn-primary d-block w-100" type="button" @onclick="RegisterAccount" style="border-radius: 10rem;">Регистрация</button>
                        @if(alert == null)
                        {
                            <p>Для регистраии заполните все поля</p>
                        }
                        else
                        {
                            @alert
                        }
                        <div class="text-center"><a class="small" href="/forgotpassword">Забыли пароль?</a></div>
                        <div class="text-center"><a class="small" href="/login">Уже есть аккаунт? Авторизуйтесь!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code{
    AccountRegistrationDTO newAccount = new AccountRegistrationDTO();
    string? confirmPassword;
    string? alert = null;

    public async Task RegisterAccount()
    {
        alert = null;
        var response = await Http.PostAsJsonAsync("/registration", newAccount);
        var statusCode = response.StatusCode;
        if (newAccount.password == confirmPassword)
        {
            if (statusCode == HttpStatusCode.Created)
            {
                await Task.Delay(100);
                alert = "Успешно!";
                NavMan.NavigateTo("/profile");
            }
            else if (statusCode == HttpStatusCode.BadRequest)
            {
                alert = "Некорректный ввод данных.";
            }
            else if (statusCode == HttpStatusCode.Conflict)
            {
                alert = "Пользователь с такой почтой уже существует.";
            }
        }
        else if (newAccount.password == string.Empty)
        {
            if (statusCode == HttpStatusCode.Created)
            {
                alert = "Успешно!";
            }
            else if (statusCode == HttpStatusCode.BadRequest)
            {
                alert = "Некорректный ввод данных.";
            }
            else if (statusCode == HttpStatusCode.Conflict)
            {
                alert = "Пользователь с такой почтой уже существует.";
            }
        }
        else
        {
            alert = "Пароли не совпадают.";
        }
    }
}
